<div class="container">
    <h4>New Address Form</h4>
    <div class="col-3">
        <%= form_with(url: address_index_path, model: @address, local: true) do |f| %>
            <% f.hidden_field :user_id, value: current_user.id %>
            <%= f.label :Address %><br/>
            <%= f.text_field :location_details, class: "form-control" %>
            <%= f.submit 'Add address' %>
        <% end %>
    </div>
</div>
