<div>
    <div class="container">
        <h5>All users</h5>
    </div>
    <div class="container d-flex">
        <hr/>
        <% @users.each do |user| %>
            <div class="container-fluid border border-3 p-2 m-2 col-4" style="height:300px">
                <div class="h-75">
                    <div>
                        <p class="overflow-auto">Name: <%=user.name%></p>
                        <p class="overflow-auto">Email: <%= user.email%></p>
                    </div>
                    <div class="overflow-auto">
                        <p>List of saved addresses:</p>
                        <% if user.addresses.present? %>
                            <div class="overflow-auto d-flex align-items-start flex-wrap" style="height:100px">
                                <% user.addresses.each do |address| %>
                                    <p class="border border-4 p-1 m-1"><%= address.location_details%></p>
                                <% end %>
                            </div>
                        <% else %>
                            <p>No saved addresses</p>
                        <% end %>
                    </div>
                </div>
                <div class="h-25">
                    <%# <%= link_to "Delete user", user_destroy_path(user.id), method: :delete %>
                </div>
            </div>
        <% end %>
    </div>
</div>
