<div class="container">
    <h4>Update Address Form</h4>
    <div class="col-3">
        <%# <%= form_for @address do |f| %>
            <%# <%= f.label :Address %><br/> %>
            <%# <%= f.text_field :location_details ,class: "form-control" %> %>
            <%# <%= f.submit 'Update address' %> %>
        <%# <% end %> %> %>
    </div>
</div>
