<h3>Products</h3>
<% @products.each do |product| %>
    <div class="d-inline-flex p-3">
        <div class="container border">
            <p>Name: <%= product.name %></p>
            <p>Description: <%= product.description %></p>
            <p>Price: &#8377; <%= product.price %></p>
            <%= link_to 'Add to Cart', add_to_cart_path(product_id: product.id), class: "btn btn-primary" %>
        </div>
    </div>
<% end %>
